{% extends "inicio/base.html" %}

{% block content %}
<h1>Fafalla</h1>

  <p><em>Centro de estética, peluquería y solarium</em>.</p>

<h2>Datos de sesiones de cabina</h2>

  <p>Totales:</p>
  <ul>
    <li><strong>Clientes:</strong> {{ num_clientes }}</li>
    <li><strong>Sesiones:</strong> {{ num_sesiones }}</li>
  </ul>
{% now 'Y-m-d' as fecha_actual %}

  <form method="get">
    {{ filtro_sesiones.form.as_p }}
    <button type="submit">Search</button>
  </form>

{% if filtro_sesiones %}
  {% if filtro_sesiones.qs %}
    <ul>
    {% for sesion in filtro_sesiones.qs %}
        <li>{{ sesion }} - {{ sesion.cliente }} {% if sesion.esta_firmada %} (Firmada) {% endif %}</li>
    {% endfor %}
    </ul>
  {% else %}
    <p>No hay sesiones en esta fecha.</p>
  {% endif %}
{% endif %}

{% endblock %}
